iniconfig==2.1.0
maturin==1.9.4
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
-e git+ssh://git@github.com/MassivelyOverthinking/Snaplit.git@9901ed1cba534282165386eaaa84ea09aacb1143#egg=rust
